/* ----------------------------------------------- */
/* General */

body {
  background-color: #f6f6f6;
  font-family: "Open Sans", sans-serif;
}

body * {
  /* border: solid 1px grey; */
}

html {
  scroll-behavior: smooth;
}

.section-container {
  padding: 10vw;
}

.yellow {
  background-color: #ffb86f;
}

.blue {
  background-color: #2e4052;
}

.blue * {
  color: #f6f6f6 !important;
}

/* ----------------------------------------------- */
/* Main Navbar */

#main-navbar {
  background-color: #f6f6f6;
}

#main-navbar li {
  padding-right: 30px;
}

#main-navbar a {
  transition: color 400ms;
}

#main-navbar a:hover {
  color: #ef946c;
}

/* Hide Navbar */
#main-navbar.navbar {
  opacity: 0.95;
  transition: opacity 0.5s ease;
  transition: top 0.5s ease;
  margin-top: 0px;
}

#main-navbar.navbar-hide {
  pointer-events: none;
  opacity: 0;
  margin-top: -80px; /* keeps nav hidden and home container exactly full page */
}

/* ----------------------------------------------- */
/* Home */

#home-container {
  height: 100vh;
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

#main-intro {
  font-family: "Lora", serif;
  font-size: 30px;
  color: #2e4052;
  padding-top: 20%;
}

#sub-nav {
  font-size: 17px;
  font-family: "Open sans", sans-serif;
}

#sub-nav a {
  color: #ef946c;
  transition: color 400ms;
}

#sub-nav a:hover {
  color: #ad0202;
}

/* ----------------------------------------------- */
/* Footer */
/* Need to make responsive! */

#social-nav {
  position: absolute;
  bottom: 0;
}

#credit {
  opacity: 0.5;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}
